.tag-cloud {
  text-align: center;
  min-height: 700px;

  .tag-cloud-title {
    text-align: center;
    font-size: 1.35em;

    .tag-list-count {
      font-size: 0.56em;
    }
  }

  .tag-cloud-tags {
    margin-top: 40px;
  }

  a {
    display: inline-block;
    margin: 10px;
  }
}
